{% extends 'index.html' %}

{% block content %}
<h1>Informació de l'estudiant</h1>
<p><strong>Nom:</strong> {{ student.nom }}</p>
<p><strong>Cognom 1:</strong> {{ student.cognom1 }}</p>
<p><strong>Cognom 2:</strong> {{ student.cognom2 }}</p>
<p><strong>Correu:</strong> {{ student.correu }}</p>
<p><strong>Curs:</strong> {{ student.curs }}</p>
<p><strong>Moduls Matriculats:</strong> {{ student.moduls }}</p>

<button type="button" onclick="window.location.href='{% url 'students' %}'">Volver</button>
{% endblock %}